.container {
  display: grid;
  grid-template-rows: 2rem 1fr 1.5rem;
  overflow: hidden;
  border-radius: 0.5rem;
  max-width: 1480px;
  width: 100%;
  aspect-ratio: 16/9;
  --tw-bg-opacity: 1;
  background-color: rgb(35 33 53 / var(--tw-bg-opacity));
  --tw-shadow-color: rgba(0, 0, 0, 0.2);
  --tw-shadow: var(--tw-shadow-colored);
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.editor {
  display: grid;
  grid-template-columns: 3.5rem 16rem 1fr;
  max-height: 100%;
}


.explorer {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #8f8ca8;
}